<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,900');
    </style>
    <link rel="stylesheet" href="/assets/css/james-landing.css">
    
    <!-- Disable Right Click Context -->
    <script>
        document.addEventListener('contextmenu', event => event.preventDefault());
    </script>
</head>
  