<div id="bg"></div>
<div id="wrapper">
    <div id="main">
        <div class="inner">
            <div class="component-wrapper">
                <div class="component">
                    <div class="container" id="columns02">
                        <div class="container-inner" data-groups-index="0">
                            <div class="component-wrapper is-first" data-type="text" data-id="text08">
                                <div class="component">
                                    <div class="--text" id="text08">-
                                        <span class="--strong">Pickle Pro</span> Apparel-</div>
                                </div>
                            </div>
                            <div class="component-wrapper is-last" data-type="text" data-id="text01">
                                <div class="component">
                                    <div class="--text" id="text01">Conducting Research!
                                        <span class="--em">Stay Tuned</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>