html {
    font-size: 18pt;
}

#content-body {
    /* min-width: 320px; */
    /* min-height: 80vh; */
    line-height: 1;
    word-wrap: break-word;
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
}

#wrapper {
    /* display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    /* min-height: 100vh; */
    /*position: relative;
    z-index: 2;
    overflow: hidden;
    padding: 2.25rem 0px; */
    vertical-align: middle;
}

#main {
    display: flex;
    position: relative;
    max-width: 100%;
    margin:10%;
    /* z-index: 1; */
    align-items: center;
    justify-content: center;
    /* flex-grow: 0; */
    /* flex-shrink: 0; */
    text-align: center;
    background-color: transparent;
    transition: opacity 1s ease 0s, transform 1s ease 0s;
}
/* 
#main:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.75em;
    z-index: 10001;
} */

#component {
    position: relative;
    width: auto;
    max-width: 100%;
}

#component::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 1.75em;
    font-size: 0.6em;
}

#columns2 {
    display: flex;
    width: 100%;
    min-height: 23rem;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-color: rgb(235, 235, 235);
    border-top: 0;
    border-bottom: 0;
}
.container-inner {
    width: 60%;
    /* max-width: 57rem; */
    /* display: inline-block; */
    /* padding: 5.5rem 1.5rem; */
    vertical-align: middle;
}
.component-wrapper {
    position: relative;
}
.component-wrapper.is-first:before {
    height: 0.5rem !important;
    min-height: 0.5rem !important
}
.component-wrapper.is-last:after {
    height: 0.5rem !important;
    min-height: 0.5rem !important
}
.component-wrapper::before {
    height: 0.5rem !important;
    min-height: 0.5rem !important;
    bottom: 100%;
}
.component-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
}
.component-wrapper.is-first {
    margin-top: 0
}

.component-wrapper.is-last {
    margin-bottom: 0
}

.component-wrapper>.component {
    position: relative;
    width: auto;
    max-width: 100%
}
.component-wrapper>.component:after {
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit
}

.component::after {
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

#ppmark {
    margin: auto;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: relative;
    -webkit-filter: drop-shadow( 2px 4px 2px #00000030 );
    filter: drop-shadow( 2px 4px 2px #00000030);
}
#bg{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    transform: scale(1);
    width: 100%;
    right: auto;
}

#bg::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* background-image: linear-gradient(40deg, rgb(209, 96, 96) 0%, rgb(93, 207, 166) 100%); */
    background: linear-gradient(40deg, #EE7752, rgb(255, 115, 115), #23A6D5, #23D5AB);
    background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.strong-text {
    font-weight: bolder;
}
.em {
    font-style: italic;
}

#text08 {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.35rem;
    width: calc(100% + 0.35rem);
    font-size: 3.5em;
    line-height: 1;
    font-weight: 100;
}

#text01 {
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 100;
}

@media screen and (max-width: 1680px) {
    html {
        font-size: 15pt;
    }
    #text08 {
        font-size:3.5em;
    }
    
}
@media screen and (max-width: 1280px) {
    html {
        font-size: 13pt;
    }

    #text08 {
        font-size:2em;
    }
    #text01 {
        font-size:1em
    }
    
}
@media screen and (max-width: 980px) {
    html {
        font-size: 11pt;
    }
    #text08 {
        font-size:2em;
    }
    #text01 {
        font-size:1em
    }
    #columns2 {
        border:none;
    }
}

@media screen and (max-width: 736px) {
    html {
        font-size: 11pt;
    }
    #text08 {
        font-size: 2em;
    }
    #ppmark {
        width:100%;
    }
}